spring:
  application:
    name: bibliokeep-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/bibliokeep
    username: postgres
    password: admin123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:miClaveSecretaSuperSeguraParaJWTQueDebeSerMuyLargaParaHS256}
  expiration: ${JWT_EXPIRATION:86400000}
  algorithm: ${JWT_ALGORITHM:HS256}
      